@page
@model ExpensasAbbinatura.Pages.Concepts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Conceptos</h1>

<p>
    <a asp-page="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Concept[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concept[0].ConceptType.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Concept)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConceptType.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ConceptId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ConceptId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ConceptId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
